// COLORS
$color-primary: #0758A8;
$color-warn: #c14748;
$color-watched: #4bc147;

$color-light-gray: #f7f7f5;
$color-dark-gray: #323d47;
$color-black: #171713;

$color-white: #f8f8f8;

// STARS

$stars: 5;
$star-size: 35px;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;