header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    // position: absolute;
    z-index: 2;

    & div {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}