.btn {
    // border-radius: 2rem;
    

    &--active {
        background-color: $color-secondary;
    }

    &--small {
        background-color: rgba(0,0,0,0);
        border: none;
        cursor: pointer;
        height: 4.4rem;
        margin: 0 $margin-small 0 $margin-small;
        transform: translateY(-2rem);
        width: 4.4rem;

        & img {
            height: 4.4rem;
        }
    }

    &--medium {
        border-radius: 4rem;
        height: 2.5rem;
        margin-right: $margin-small;
        width: 7rem;
    }

    &--large {
        border-radius: 4rem;
        cursor: pointer;
        height: 4.4rem;
        width: 10rem;
    }


    &--mobile-search {
        background-color: rgba(0,0,0,0);
        border: none;
        cursor: pointer;
        height: 3.6rem;
        left: 2.1rem;
        position: absolute;
        width: 3.6rem;

        & img {
            height: 2.5rem;
        }

    }

    &--card {
        border: none;
        cursor: pointer;
        height: 21rem;
        width: 100%;
    }

    &--media-card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        height: 9rem;
        width: 15rem;
    }

    &--media-viewer {
        background-color: rgba($color-white, 0);
        border: none;
        cursor: pointer;
        height: 3rem;
        position: relative;

        &--close {
            right: 2rem;
            position: absolute;
            top: 2rem;
        }

        & img {
            height: 3rem;
        }
    }
}

@media (max-width: $mobile-break) {
    .btn {

        &--small {
            height: 2.5rem;
            transform: translateY(0rem);
            width: 2.5rem;
    
            & img {
                height: 2.5rem;
            }
        }
    }
}