.footer {
    // padding: $padding-small;

    &__copy {
        align-items: end;
        display: grid;
        grid-column: center-start / center-end;
        justify-content: center;
        padding: $padding-small;
    }

    &__tmdb {
        display: flex;
        flex-direction: column;
        grid-column: center-end / -1;
        padding-top: $padding-medium;

        & svg {
            transform: translateX(2rem);
            width: 8rem;
        }
    }
}

@media (max-width: $first-break) {
    .footer {
        
        &__copy {
            grid-column: col-start 1 / col-end 6;
        }

        &__tmdb {
            grid-column: col-end 6 / -1;
            padding-top: 5px;

            & svg {
                height: 5rem;
                transform: translateX(4.5rem);
                width: 5rem;
            }
        }
    }
}