.home {
    animation: fadeIn 400ms ease-out;
    display: grid;
    grid-template-rows: 70rem 5rem max-content;

    &__trending {
        grid-column: center-start / center-end;
        grid-row: 3 / 4;
    }
}

@media (max-width: $first-break) and (min-width: $mobile-break) {
    .home {
        
        &__trending {
            grid-column: full-start / full-end;
        }
    }
}

@media (max-width: $mobile-break) {
    .home {
        grid-template-rows: 45rem 5rem max-content;

        &__trending {
            grid-column: 1 / -1;
        }
    }
}