.mobile-nav {
    z-index: 5;

    &--open {
        position: fixed;
        top: 0;
    }

    &--closed {
        position: relative;
    }

    & a {
        margin-bottom: $margin-small;
    }

    &__welcome {
        margin-bottom: $margin-medium;
        padding-top: 8rem;
    }

    &__links {
        background-color: $color-secondary;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: $padding-medium;
        position: fixed;
        transition: all $fade-in-slow ease-in-out;
        width: 75vw;
    }

    &__logout {
        bottom: 8rem;
        position: absolute;
    }

    &__copy {
        bottom: 3rem;
        position: absolute;
    }
}

@media(min-width: $mobile-break) {
    .mobile-nav {
        display: none;
    }
}