.search {
    align-items: end;
    display: grid;
    grid-column: center-start / center-end;
    grid-template-rows: 55% 1fr;
    justify-content: center;

    &__options {
        display: flex;
        height: 100%;
        padding-top: $padding-small;
    }

    &--mobile {
        animation: fadeIn 200ms ease-in;
        background-color: rgba($color-gray-light, 0.4);
        position: absolute;
        top: 6rem;
        width: 100%;

        &__options {
            padding: $padding-small $padding-small $padding-small $padding-medium;
        }

        & form {
            align-items: center;
            display: flex;
            height: 6rem;
            justify-content: center;
            position: relative;
            width: 100%;
        }

        & input {
            border-radius: 2rem;
            padding: $padding-small $padding-small $padding-small 4.25rem;
            width: 95%;
        }
    }

    & form {
        grid-row: 1 / 2;

    }

    & input {
        border-radius: 2rem;
        // height: 4rem;
        margin-right: $margin-medium;
        padding: $padding-small;
        width: 77.3rem;
    }
}

@media (max-width: $first-break) and (min-width: $mobile-break) {
    .search {
        grid-column: col-start 2 / col-end 7;

        & input {
            width: 50rem;
        }
    }
}