.user-sign-in {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    transform: translateY(-17px);
    width: 100%;

    & img {
        background-color: rgba(0,0,0,0);
        height: 4.3rem;
    }
}

@media (max-width: $mobile-break) {
    .user-sign-in {
        justify-content: center;
        transform: none;

        & img {
            height: 2.5rem;
        }

        & a {
            height: 2.5rem;
        }
    }
}