.user-sign-in {
    align-items: center;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: flex-start;
    transform: translateY(-17px);
    width: 100%;

    & img {
        height: 3.5rem;
    }
}

@media (max-width: $mobile-break) {
    .user-sign-in {
        transform: none;
    }
}