<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png">
</head>

<body>
    <header>
        <h1 class="heading-primary"><a href="/">Movietime!</a></h1>
        <form action="/movies/search" method="GET" class="search-bar">
            <input type="text" name="search" autocomplete="off" class="search-bar__entry">
            <button type="submit" class="search-bar__btn">Search</button>
        </form>
        
        <div class="option">
            {{#if user}}
            <div>
                <a class="btn-link" href="/movies">Now Showing for {{user.userName}}</a>
            </div>
            {{else}}
            <div>
                <a class="btn-link" href="/login">Login here</a>
            </div>
            {{/if}}
        </div>
    </header>
    

    {{{body}}}

</body>

</html>