<section class="landing">

    <div>
        <h1 class="heading-primary u-text-center landing__title">Movietime!</h1>
        
        <form action="/movies/search" method="GET" class="search-bar">
            <input type="text" name="search" autocomplete="off" placeholder="Got popcorn?" class="search-bar__entry">
            <button type="submit" class="search-bar__btn">Search</button>
        </form>
        
        <div class="landing__user">
            <p class="u-padding-bottom">Not currently a user? <a href="/signup" class="btn-link">Sign up here!</a></p>
            <p class="u-padding-bottom">Existing users <a href="/login" class="btn-link">Login here</a></p>
            <a href="/movies" class="btn-link">Now Showing</a>
        </div>
    </div>

</section>