<section class="account">

    <div class="account__box">

        <h2>Login</h2>
        
        <form class="account__form" action="/users/login" method="POST">
            <input type="text" placeholder="Username" name="userName" autocomplete="off">
            <input type="password" placeholder="Password" name="password" autocomplete="off">
        
            <button class="btn" type="submit">Submit</button>
        </form>

    </div>
    
</section>