<section class="account">

    <div class="account__box">

        <h2>Login</h2>
        
        <form class="account__form" action="/users/login" method="POST">
            <input class="input" type="text" placeholder="Username" name="userName" autocomplete="off" autofocus>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password" autocomplete="off">
            </div>
            <button class="btn u-color-primary" type="submit">Submit</button>
        </form>
        <p class="u-padding-top">Not currently a user? <a href="/signup" class="btn-link">Sign up here</a></p>
        {{#if error}}
            <p class="account__error">{{error}}</p>
        {{/if}}

    </div>
    
</section>