<section class="account">

    <div class="account__box">

        <h2>New Account Sign Up</h2>

        <form class="account__form" action="/users" method="POST">
            <input class="input" type="text" placeholder="Username" id="userName" name="userName" autocomplete="off" autofocus>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password" autocomplete="off">
                <label id="passwordError" for="password">Must be at least 7 characters</label>
            </div>
            <div>
                <input class="input" type="password" placeholder="Verify Password" id="verifyPassword" name="verifyPassword" autocomplete="off">
                <label id="verifyError" for="verifyPassword">Password does not match</label>
            </div>
            <input class="input" type="text" placeholder="Email" id="email" name="email" autocomplete="off">
            {{!-- <input type="text" placeholder="Favorite Genre: optional" name="favoriteGenre" autocomplete="off"> --}}
            <div class="select-input">
                <select class="input" name="favoriteGenre">
                <option value="" selected disabled>Favorite Genre: optional</option>
                <option value="Comedy">Comedy</option>
                <option value="Sci Fi">Sci Fi</option>
                <option value="Horror">Horror</option>
                <option value="Action">Action</option>
                <option value="Mystery">Mystery</option>
                <option value="Crime">Crime</option>
                <option value="Animation">Animation</option>
                <option value="Adventure">Adventure</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Western">Western</option>
            </select>
            </div>
            <input class="input" type="text" placeholder="Favorite Movie: optional" name="favoriteMovie"
            autocomplete="off">

            <button class="btn u-color-primary" type="submit">Submit</button>
        </form>
        {{#if error}}
        <p class="account__error">{{error}}</p>
        {{/if}}
    </div>

    <script src="/js/signup.js"></script>
</section>