<section class="account">

    <div class="account__box">

        <h2>New Account Sign Up</h2>

        <form class="account__form" action="/users" method="POST">
            <input type="text" placeholder="Username" name="userName" autocomplete="off">
            <input type="password" placeholder="Password" name="password" autocomplete="off">
            <input type="text" placeholder="Email" name="email" autocomplete="off">
            <input type="text" placeholder="Favorite Genre" name="favoriteGenre" autocomplete="off">
            <input type="text" placeholder="Favorite Movie" name="favoriteMovie"
            autocomplete="off">

            <button class="btn" type="submit">Submit</button>
        </form>

    </div>

</section>