.input {
    background-color: $color-light-gray;
    width: 20rem;
    border-radius: 6px;
    border-width: 0;
    padding: 1rem;
    outline: none;
    transition: box-shadow .5s;

    &:focus {
        box-shadow: 0 0 5px rgba($color-black, .8);
    }
}

.select-input {
    position: relative;
    display: inline;

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
}