@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0%, 100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 1px 0px 3px rgba($color-black, .8);
    }
}