.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // background-image: url(../img/reels.jpg);
    // background-size: cover;

    &__title {
        animation: moveInTop 1s;
    }

    &__user {
        display: flex;
        flex-direction: column;
    }
}