.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__title {
        animation: moveInTop 1s;
    }

    &__user {
        display: flex;
        flex-direction: column;
    }
}