.now-showing {
    width: calc(100vw - 3rem);

    &__wrapper {
        display: flex;
    }

    &__profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        top: 15%;
        height: 80vh;
        width: 20%;
        float: left;
        border-right: 1px solid rgba($color-black, .8);

        & * {
            margin-bottom: 2rem;
        }
    }

    &__movies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        float: right;
    }
}