.now-showing {
    width: calc(100vw - 3rem);

    &__wrapper {
        display: flex;
        position: relative;

        & .hamburger {
            opacity: 0;
            z-index: 3;
            position: fixed;
            top: 1.6rem;
            left: 0;
            outline: none;
        }
    }

    &__profile {
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        height: 80vh;
        width: 20%;
        float: left;
        border-right: 1px solid rgba($color-black, .8);

        &-info {

            & form {
                transition: opacity .5s;
            }
        }

        & *:not(:last-child) {
            margin-bottom: 2rem;
        }

        & select option[disabled]:first-child {
            display: none;
        }
    }

    &__movies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
}

@media (max-width: $mobile-break) {
    .now-showing {
        width: auto;

        &__wrapper {
            justify-content: center;
        }

        &__profile {
            position: fixed;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 90vw;
            top: auto;
            left: -1200px;
            padding: .5rem;
            background-color: $color-white;
            border: 1px solid rgba($color-black, .8);
            z-index: 2;
            box-shadow: 9px 9px 21px -10px rgba($color-black, .75);
            transition: all 1s;
            transition-delay: opacity .5s;
        }
    }
}