@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes openDown {
    0% {
        top: 0;
    }

    100% {
        top: 10.5rem;
    }
}