// font sizes
$default-font-size: 1.8rem;
$small-font-size: 1.4rem;

$h1-font-size: 6.5rem;
$h1-mobile-font-size: 4rem;
$h1-small-font-size: 2.25rem;

$h2-font-size: 3.6rem;
$h2-mobile-font-size: 2.25rem;

$h3-font-size: 2.6rem;
$h3-mobile-font-size: 2rem;

$h4-font-size: 2rem;

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilk.eot');
  src: url('../fonts/LemonMilk.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LemonMilk.woff2') format('woff2'),
    url('../fonts/LemonMilk.woff') format('woff'),
    url('../fonts/LemonMilk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// font settings

body {
  font-family: 'Raleway', sans-serif;
  font-size: $default-font-size;
}

// Logo
h1 {
  color: $color-primary;
  font-family: 'Lemon/Milk', sans-serif;
  font-size: $h1-font-size;
  letter-spacing: 6.5px;
  text-shadow: 0px 0px 5px rgba($color-black, 0.7);
}

.sm-p {
  font-size: $small-font-size;
}

.sm-h1 {
  font-size: $h1-small-font-size;
}

// Sub title
h2 {
  color: $color-white;
  font-family: 'Raleway', sans-serif;
  font-size: $h2-font-size;
  letter-spacing: 7.5px;
  text-align: center;
  text-transform: uppercase;
}

// Section Title
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: $h3-font-size;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Other Small Titles
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: $h4-font-size;
  letter-spacing: 1.5px;
}

button {
  font-family: 'Raleway', sans-serif;
}

.small-text {
  font-size: $small-font-size;
}

.mpaa {
  border: 1px solid $color-black;
  margin-left: $margin-small;
  padding: 1px 2px;
  transform: translateY(-2px);

  &--white {
    border: 1px solid $color-white;
    margin-left: $margin-small;
    padding: 1px 2px;
    transform: translateY(-2px);
  }
}

.show-details,
.people-details {
  &__overview {
    color: $color-white;
  }
}

.label-text {
  font-size: $small-font-size;
}

.link-text {
  font-size: $small-font-size;
  text-decoration: underline;
}

.mobile-nav {
  color: $color-white;

  & a {
    color: $color-white;
  }
}

a {
  color: $color-black;
  cursor: pointer;
}

input {
  font-family: 'Raleway', sans-serif;
  font-size: $small-font-size;
}

@media (max-width: $mobile-break) {
  h1 {
    font-size: $h1-mobile-font-size;
  }

  h2 {
    font-size: $h2-mobile-font-size;
  }

  h3 {
    font-size: $h3-mobile-font-size;
  }
}
